@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300&display=swap");

html,
body {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  font-family: "Nunito Sans", sans-serif;
}

.wrapper {
  width: 1024px;
  margin: auto;
  padding: 20px 0px 20px 0px;
}

nav {
    background-color: #FAFAFA;
    color: #000;
}

nav > .wrapper {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
}

.menu {
  width: 50%;
  /* border: 1px solid; */
}

.menu > ul {
  display: flex;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  justify-content: space-between;
}

.menu > ul > li > a {
  text-decoration: none;
  color: #000;
}
